.fz-webform {
    margin-top: 50px;
    padding: 50px;
    background-color: #fff;
    border: solid #eee 2px;
}

.fz-input {
    max-width: 500px;
}

.form-group {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
